.card{
    width: 200px;
    box-sizing: border-box;
    margin: 10px auto;
    border: 3px solid #3B4CCA;
    background-color: #FFDE00;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.selectButton{
    background-color: #ff0000;
    border: 3px solid #3B4CCA;
    border-radius: 5px;
    margin-bottom: 10px;
}

.selectButton:active{
    background-color: #cc0000;
    border: 3px solid #3B4CCA;
    border-radius: 5px;
    margin-bottom: 10px;
}

.selectButton:hover{
    background-color: rgb(255, 66, 66);
}

.header{
    font-weight: bold;
    font-size: 20px;
}

.img{
    text-align: center;
}

.abilities{
    height: 70px;
    text-align: left;
    margin-left: 27%;
}