.playerCards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    border: 1px solid black;
    background-color: hsla(0, 100%, 71%, 0.486);
    border-radius: 20px;
    min-height: 120px;
}

.availableCards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    border: 1px solid black;
    background-color: hsla(0, 100%, 71%, 0.486);
    border-radius: 20px;
}

.topbar{
    text-align: center;
    background-color: gray;
    overflow: hidden;
}

html, body{
    padding: 0;
    margin: 0;
}